

	<div id="left-col">
	</div>

	<div id="center-col">
	</div>


	<div id="right-col">
		<h1><span class="honeydew">DOD</span></h1>
	<hr />
		<p>
		<span class="honeydew">DOD</span> is a Remote Multi-Switch for the Philips Hue Light System.
		</p>
	<hr />

		<p>
		<span class="honeydew">DOD</span> is Inspired by Mystery Beverages, Hardcore Larpers, Rapid Prototyping and App Oversaturation.
		</p>
	<hr />

		<p>
		<span class="honeydew">DOD</span>'s 12 orientations allow a <span class="user">USER</span> to command arrays of light.
		</p>

		<hr />
			<p><span class="honeydew large">Available Soon. Interested?</span></p>
		<form action="/mailingSignup" method="POST">
			<div class="leftFormColumn">
				<p>Name:</p>
				<p>Email:</p>
			</div>
			<div class="rightFormColumn">
				<p><input type="text" name="name"></p>
				<p><input type="text" name="email"></p>
				<input class="submit" type="submit" value="Submit">
			</div>
				<span class="oath">I Solemly Swear Never to Sell or Share</span>
		</form>
	</div>






