

        <h1 class="varela">DOD</h1>
        <div class="moodboard">
            <div class="penta gon"></div>
            <div class="penta tron"></div>
            <div class="penta cremaster"></div>
            <div class="penta laser"></div>
            <div class="penta moon"></div>
            <div class="penta spectre"></div>
            <div class="penta transfer"></div>
            <div class="penta net"></div>
            <div class="penta wood"></div>
            <div class="penta cut"></div>
            <div class="penta cruise"></div>
            <div class="penta vend"></div>
        </div>



