@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
 @import url(http://fonts.googleapis.com/css?family=Dosis|Share+Tech|Quicksand|Fredoka+One|Advent+Pro|Varela+Round);

/*font-family: 'Dosis', sans-serif;
font-family: 'Share Tech', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Varela Round', sans-serif;
*/

html { 
    height:100%;
    min-height:100%;
}

h1{
    padding-top:25px;
    padding-right:25px;
    font-size:90px;
    line-height:30px;
    color:#e6ffe6;
    display:inline-block;
}

h3{
    font-family: 'Quicksand', sans-serif;
    
    font-size:30px;
    /*line-height:30px;*/
    color:#e6ffe6;
    display:inline-block;
}

 body {
    height: 100%;
    color: transparent;
    background: url(../img/heroshot.png) no-repeat center center fixed;
     /*background: url(../img/darkmanattan-13.jpg) no-repeat center center fixed;*/
    /*font-color:#FFFFF0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    font-family:"Varela Round", sans-serif;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -0.02em;*/
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}
#main-container{
    min-height:100%;
    margin:0;
    padding:0;
}

.container{
    width:100%;
    min-height:100%;
     text-align:center;
    /*text-align: center;*/
    margin: 0;
    padding:0;
}

#left-col{
    /*background:grey;*/
    width:30%;
}
.oath{
    color:#999;
    padding-left:30px;
    font-size:16px;
}

.center-row{
    display:block;
    position:relative;
    width:100%;
    text-align:left;
    margin: 0 auto;
        font-color:#FFFFF0;
    /*margin-left:20%;*/
}

form {
    color:white;
    font-size:32px;
}

.large{
    font-size:32px;
}

hr{
    padding: 3px 10px 3px 10px;
    color:#e6ffe6;
}

.leftFormColumn{
    position:relative;
    display:inline-block;
    vertical-align:top;
    padding-right:20px;

}
.rightFormColumn{
    position:relative;
    /*float:right;*/
    width:100px;
    text-align:right;
}

.submit{
    /*width:300px;*/
    float-right;
    text-align:right;
    margin-right:90px;
}
.thanks{
    margin-top:30px;
    padding-top:30px;
}

.honeydew{
    color:#e6ffe6;
    font-weight:900;
}
#center-col{
    /*background:grey;*/
    width:30%;
}
#right-col{
    position:relative;
    display:inline-block;
    /** To edit this background, follow this link:
http://svgeneration.com/generate/Gridiron?grid-color=000011&grid-size=20&grid-width=.5&gradient-x=50&gradient-y=50&gradient-radius=120&gradient-inner=333232&gradient-outer=333232&
*/

background-color: rgba(30,35,30,.3);
background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnPgoJPGRlZnM+CgkJPHBhdHRlcm4gcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgaWQ9J2MnIHdpZHRoPSczMCcgaGVpZ2h0PScyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDMwIDIwJz4KCQkJPHBhdGggZD0nTTAsMTBoNWw1LC0xMGgxMGw1LDEwaDVtLTUsMGwtNSwxMGgtMTBsLTUsLTEwJyBzdHJva2U9JyMwMDAwMTEnIHN0cm9rZS13aWR0aD0nLjUnIGZpbGwtb3BhY2l0eT0nMCcgLz4KCQk8L3BhdHRlcm4+CgkJPHJhZGlhbEdyYWRpZW50IGlkPSdnJyBncmFkaWVudFVuaXRzPSd1c2VyU3BhY2VPblVzZScgY3g9JzUwJScgY3k9JzUwJScgcj0nMTIwJScgZng9JzIlJyBmeT0nMTQlJz4KCQkJPHN0b3Agb2Zmc2V0PScwJScgc3RvcC1vcGFjaXR5PScwJyBzdG9wLWNvbG9yPScjMzMzMjMyJyAvPgoJCQk8c3RvcCBvZmZzZXQ9JzEwMCUnIHN0b3Atb3BhY2l0eT0nLjknIHN0b3AtY29sb3I9JyMzMzMyMzInIC8+CgkJPC9yYWRpYWxHcmFkaWVudD4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYyknLz4KCTxyZWN0IHdpZHRoPScxMjAlJyB4PSctMTAlJyB5PSctMTAlJyBoZWlnaHQ9JzEyMCUnIGZpbGw9J3VybCgjZyknLz4KPC9zdmc+');
    /*background:dimgrey;*/

    height:100%;
    min-height: 100%;
    padding-left:100px;
    width:32%;
    text-align: left;
    padding:0 30px 50px 25px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 0px 15px #222222;
}

.light{
    color:#feffa2;
    font-weight:900;
}

.dosis{
font-family: 'Dosis', sans-serif;
}
.sharetech{
font-family: 'Share Tech', sans-serif;
}
.quicksand{
font-family: 'Quicksand', sans-serif;
}
.fredoka{
font-family: 'Fredoka One', cursive;
}
.advent{
font-family: 'Advent Pro', sans-serif;
}
.varela{
font-family: 'Varela Round', sans-serif;
}

li{
    text-indent:75px;
    list-style-type: none;
}

p{
color:#D3D3D3;
font-family: 'Quicksand', sans-serif;
font-size:32px;
line-height:42px;

}

div{
    display:inline-block;
    position:relative;
}


.user{
    color:#FFFFF0;
    font-weight:900;
 }

.intro{
    /*background: url(../img/dod-secretbg.jpg) no-repeat center center fixed; */
    width:900px;
    height:1000px;
}

.moodboard{
    width:900px;
    height:1000px;
}

.cruise {
    width: 250px;
    height: 250px;
    background: url('../img/cruising1.gif') no-repeat 50% 50%;
    background-size: 375px 201px;
}
.laser {
    width: 250px;
    height: 250px;
    background: url('../img/laser.gif') no-repeat 50% 50%;
    background-size: 375px 201px;
}
.cut {
    width: 250px;
    height: 250px;
    background: url('../img/mac-scissors.jpg') no-repeat 50% 50%;
    background-size: 375px 201px;
}
.wood {
    width: 250px;
    height: 250px;
    background: url('../img/wood.jpg') no-repeat 50% 50%;
    background-size: 700px 467px;
}
.cremaster {
    width: 250px;
    height: 250px;
    background: url('../img/cremaster.jpg') no-repeat 50% 50%;
    background-size: 250px 250px;
}
.gon {
    width: 250px;
    height: 250px;
    background: url('../img/rakubowl.jpg') no-repeat 50% 50%;
    background-size: 250px 250px;
}
.vend {
    width: 250px;
    height: 250px;
    background: url('../img/mysteryvend2.jpg') no-repeat 50% 50%;
    background-size: 250px 250px;
}
.trend {
    width: 250px;
    height: 250px;
    background: url('../img/inspiration.png') no-repeat 50% 50%;
    background-size: 250px 250px;
}
.darktext {
    color:#DAA520;
}
.tron {
    width: 250px;
    height: 250px;
    background: url('../img/tron.gif') no-repeat 50% 50%;
    background-size: 250px 250px;
}
.moon {
    width: 250px;
    height: 250px;
    background: url('../img/moon.gif') no-repeat 50% 50%;
    background-size: 540px 250px;
}
.spectre {
    width: 250px;
    height: 250px;
    background: url('../img/spectre.gif') no-repeat 50% 50%;
    background-size: 482px 360px;
}
.transfer {
    width: 250px;
    height: 250px;
    background: url('../img/transfer.gif') no-repeat 50% 50%;
    background-size: 400px 237px;
}
.net {
    width: 250px;
    height: 250px;
    background-color: #999;
    background: url('../img/net.gif') no-repeat 50% 50%;
    background-size: 600px 600px;
}

.prototype2 {
    width: 634px;
    height: 422px;
    background-color: #999;
    background: url('../img/dodp2.gif') no-repeat 50% 50%;
    background-size: 600px 600px;
}



/* 
  Text styling  line-height: 220px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
  color: rgba(255,255,255,.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
 */
 .gon:hover {
    color: #fff;
    text-shadow: 0 0 10px white;
}
.big-penta {
    word-wrap:nowrap;
    display:inline-block;
    height: 500px;
    -webkit-clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    -moz-clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    -ms-clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}

.penta {
    word-wrap:nowrap;
    display:inline-block;
    height: 200px;
    -webkit-clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    -moz-clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    -ms-clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
}